<% layout("/layout/boilerplate") %>
<body>
    <script>
        let mapToken="<%= process.env.MAP_TOKEN %>"
        let coordinates= <%- JSON.stringify(info.geometry.coordinates) %>
    </script>
    <div class="row">
        <div class="col-8 offset-4" >
            <h1> <b><%= info.title %></b> </h1>
        </div>
            <div class="card col-6 offset-4 listing-card "  >
                <img src="<%= info.image.url %>" class="card-img-top " style="height: 20rem; width: 18rem"  alt="...">
                <div class="card-body">
                  <p class="card-text">
                   
                   <br>
                   <p><i>Owned by <%= info.owner.username %></i></p>
                      <%= info.description %>
                      <br><br>
                      &#8377;<%= info.price%>
                      <br><br>
                      <%= info.country %>
                      <br><br>
                      <%= info.location %>
                </p>
                </div>
              </div>


              
              <div class="col-6 offset-3 show-btns">
                
                    <form action="http://localhost:8080/listings/edit/<%= info._id %>">
                        <button class="btn btn-dark add-btn">Edit Listing</button>
                    </form>
                    <form method="post" action="http://localhost:8080/listings/delete/<%= info._id %>?_method=Delete">
                        <button class="btn btn-dark">Delete Listing</button>
                    </form>
                  
              </div>
              

              <br><br><br><br>
                <hr>
              <div  class="card col-6 offset-4 ">
                <% if(currUser){ %>
                <h2>Leave A Review: </h2>
                <form action="/listings/<%= info._id %>/reviews" method="post" novalidate class="needs-validation">
                   
<div class="mb-3 mt-3">
    <label for="rating" class="form-label">Rating</label> -->

<fieldset class="starability-slot">
  
  <!-- <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range"> -->
  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
</div>
                    <div class="mb-3 mt-3">
                        <label for="comments" class="form-label">Comments</label>
                        <textarea name="review[comment]" id="comment" col="30" rows="5" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please enter a comment.</div>
                    </div>
                    <button class="btn btn-outline-dark">Submit</button>
                </form>
                <% } %>
                

                <hr>

                <%if(info.reviews.length>0){ %>
                <p><b>All Reviews</b></p>
                <div class="row">
                        <% for (review of info.reviews){ %>
                   <div class="card col-5 mb-3 mt-2 ms-3">
                        <div class="card-body">
                            <h5 class="card-title">@<%=  review.author.username %></h5>
                            <p class="card-text"><%= review.comment %></p>
                            <p class="card-text"><%= review.rating %> stars</p>
                                <p class="starability-result" data-rating="<%=  review.rating%>">Rated: 3 stars</p>
                            <form action="/listings/<%= info._id %>/reviews/<%= review._id %>?_method=Delete" class="mb-3" method="post" >
                                <button class="btn btn-sml btn-dark">Delete</button>
                            </form>
                        </div>
                   </div>
                <% } %>
                </div>
                <% } %>
               
                                
              </div>
               

              <div class="card col-6 offset-4">
                        <h3>Where You will be</h3>
                        <div id="map"></div>
                </div>



            
            
           
            
        </body>
        
         

       
    </div>
    <br><br><br>

    <script src="/js/map.js"></script>
    


    